In [14]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple
a= 'shailesh'
b=[1,2,3,'ram','sham',25.5,True,(22,11,25)]
c=22.5
d=(55,25,36)

In [15]:
type(a)

str

In [16]:
type(b)

list

In [17]:
type(c)

float

In [18]:
type(d)

tuple

In [32]:
#Q2. Given are some following variables containing data:find its type var1= ' '
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 =  ['DS' , 'ML', 'Python']
var4 = 1.

In [33]:
type(var1)

str

In [34]:
type(var2)

str

In [35]:
type(var3)

list

In [36]:
type(var4)

float

In [43]:
#Q3. Explain the use of the following operators using an example:
#(i)/ is use for division (arithmatic operations), ex
#6/3
#(ii) % is use for find percentage of number 
#80%25
#(iii) // is use for divisibility pool
#25//5
#(iv) ** is use for find power of given number
#2**8

In [44]:
6/3

2.0

In [45]:
80%25

5

In [46]:
25//5

5

In [47]:
2**8

256

In [57]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

l1=[2,4,6,8,10,'shailesh',23.8,False,'ram',(0)]
for i in l1:
    print(i)
    print(type(i))

2
<class 'int'>
4
<class 'int'>
6
<class 'int'>
8
<class 'int'>
10
<class 'int'>
shailesh
<class 'str'>
23.8
<class 'float'>
False
<class 'bool'>
ram
<class 'str'>
0
<class 'int'>

In [89]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times
a1 = 100
b1 = 5

count = 0

while a1 % b1 == 0:
    a1 = a1 / b1
    count += 1
if count>0:
    print("a1 is divisible by b1:", count, "times")
else:
    print("a1 is not divisible by b1")

a1 is divisible by b1: 2 times

In [90]:
#Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

data_list = [2, 5, 12, 9, 8, 18, 15, 7, 6, 20, 21, 3, 10, 13, 27, 30, 17, 22, 25, 33, 36, 14, 11, 24, 31]

for num in data_list:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

2 is not divisible by 3
5 is not divisible by 3
12 is divisible by 3
9 is divisible by 3
8 is not divisible by 3
18 is divisible by 3
15 is divisible by 3
7 is not divisible by 3
6 is divisible by 3
20 is not divisible by 3
21 is divisible by 3
3 is divisible by 3
10 is not divisible by 3
13 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
17 is not divisible by 3
22 is not divisible by 3
25 is not divisible by 3
33 is divisible by 3
36 is divisible by 3
14 is not divisible by 3
11 is not divisible by 3
24 is divisible by 3
31 is not divisible by 3

In [94]:
#Whatdo you understand about mutable and immutable data types? Give ex. for both showing this property.

#immutability
s1='shailesh'
s1='bala'

In [92]:
s1

'bala'

In [95]:
# a new string object is created with the modified value. The original string "shailesh" remains unchanged,
#demonstrating the immutability of strings.

In [96]:
#mutability

l2=[2,3,5,6,1,8,9]

In [101]:
l2[2]=200

In [102]:
print(l2)

[2, 3, 200, 6, 1, 8, 9]

In [ ]:
#in the above list we assign new value to index 2 ax 200 and replace 5 with 200
# in list we can apply the  mutability but in sring we cannot apply the same